<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Sign In</a></li>
        <li><a href="#">Sign Up</a></li>
        
      </ul>
    </div>
  </nav>

 {{#if}}
 {{/if}}