<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Travel & Share</title>
    </head>
    <body>
        {{{body}}}

        <footer>
            <p>share image application</p>
        </footer>
    </body>
</html>