<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Travel & Share</title>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>
    <body>
        {{{body}}}

        <footer>
            <p>share image application</p>
        </footer>
          <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
</html>