<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Travel & Share</title>
        <!--materiailize to include icond -->
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <!-- Compiled and minified CSS -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>

    
    <body>

        <nav>
            <div class="nav-wrapper">
            <a href="#" class="brand-logo">Travel & Share</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{#if currentUser}}
                    <li><a href="/user/{{currentUser.id}}">Hi {{currentUser.username}}</a></li>
                     <li><a href="/user/signout">Sign Out</a></li>
                {{else}}
                    <li><a href="/user/signin">Sign In</a></li>
                    <li><a href="/user/signup">Sign Up</a></li>
                {{/if}}
            </ul>
            </div>
        </nav>
        <main class= "container">
            
             {{{body}}}

             

        </main> 
        {{!-- end .container --}}
       
        <footer>
                <p>share image application</p>
        </footer>


        
          <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
</html>