
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* background-image: url('https://source.unsplash.com/72K-m8jTotA') */
    background-image: url('https://source.unsplash.com/Kt6AoMxyFPw');
    
    
  }

  main {
    flex: 1 0 auto;
    
  }

  
.container {
    padding-top: 50px;
}
 

  nav{
      padding-left: 30px;
      padding-right: 30px;
  }

  div.dashboard {
      background-color: #c2f0f0;
      text-align: center;
      padding: 20px;
      border-radius: 10px;
      
  }

  div.dashboard p {
      text-align: left;
  }

  div.card {
      padding: 0;
  }

  header nav, footer.page-footer {
      background-color: #b3b2b3;
      
  }

  

  footer .white-text {
      padding-left: 20px;
    
  }
.page-footer .text-footer {
    padding-top: 0;
}
  .footer-copyright p{
    padding-left: 30px;
    padding-top: 0;
  }

  .credit {
      color: white;
  }
