<h1>Welcome to Travel and Share</h1>
<p>This is a place where you share places you have been visited so that other people can experience from you pictures. At the same time, you can also learn from others</p>